.header {
  background-color: #682108;
}

.header h2 {
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Crete Round', serif;
}
